*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "monospace, courier new, sans-serif";
      scroll-behavior: smooth;
    }

    body {
        background-image: url(https://github.com/docabovincent/Kmart/raw/main/kimage/bodybackg.png);
        background-size: cover;
    
    }

    .header{
        background-color: white;
        color: orange;
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .header h1{
        font-size: 30px;
        margin-left: 20px;
    }

    .ngot{
        background-color: white;
        color: yellow;
        text-align: bottom right;
    }

    .intro{
        background-image:url(https://github.com/docabovincent/Kmart/raw/main/kimage/ngotkmart.png);
        background-size: cover;
        padding: 100px;
    }

    nav{
        display: flex;
        justify-content: right;
        position: relative;
    }

    nav a{
        color:orange;
        text-decoration: none;
        margin-left: 4px;
        font-size: 15px;
        padding: 10px 15px;

    }
   
    .nav a:hover{
        border-radius: 5px;
        width: 100px;
    }

    .content{
        padding: 60px;
        text-align: left;
        
    }

    .content p{
        font-size: 18px;
        margin-bottom: 20px;
        text-align: left;
    }

    .product{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin: auto;
        gap: 80px;
    }

    .content .product-box{
        width: 200%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        background-size: 50px;
    }

    .product-image:hover{
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .product-box p{
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin-top: 30px;

    }

    .product-box {
        width: 200px;
        height: 100px;
        text-align: center;
        border-radius: 10px;
        transition:transform 0.3s ease;
    }

    .product-box:hover {
         background-image: url(https://raw.githubusercontent.com/docabovincent/Kmart/main/kimage/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.1);
        filter: brightness(80%);
        
    }

     @keyframes slideLeftAnimation {
    0% { transform: translateX(-500px); opacity: 1; }
    100% { transform: translateX(500px); opacity: 1; }
    }

    .adss {
    animation-name: slideLeftAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    }

    .adss{
        color: orange;
        padding: 5px;
        text-align: left;
        display: flex;
        width: 1000px;
        margin: 50px auto;
        border-radius: 30px;
    }

    .ads{
        background-color:white;

    }


    footer {
        background-color: white;
        text-align: center;
        margin-top: 30px;
        padding: 30px;
        border-top: 1px solid black;
    }

    
   

